body {
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    margin: 0;
}

.logo {
    height: 50px;
    border-radius: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #000;
    color: white;
}

.left-side {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 5px 0px 0px 5px;
}

.left-side .text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-side .site-title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: blue;
}

.left-side .site-subtitle {
    margin: 4px 0 0 0;
    font-size: 14px;
    font-weight: normal;
    color: white;
}

.right-side {
    margin: 5px 20px 0px 0px;
    font-weight: bold;
}

.nav-text {
    margin-left: 30px;
    text-decoration: none;
    color: white;
}