.logo {
    height: 50px;
    border-radius: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid;
    height: 70px;
    background-color: white;
}

.left-side {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 5px 0px 0px 5px;
}

.left-side .text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-side .site-title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.left-side .site-subtitle {
    margin: 4px 0 0 0;
    font-size: 14px;
    font-weight: normal;
    color: #333;
}

.right-side {
    margin: 5px 20px 0px 0px;
}

.nav-text {
    margin-left: 30px;
}

.main-titles {
    display: flex;
    justify-content: center;
}

.title-main {
    color: rgb(248, 246, 238);
}