.main-title {
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin-top: 30px;
    font-weight: bolder;
}

.title-main {
    color: rgb(248, 246, 238);
}

.title {
    margin-left: 10px;
}

.second-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-top: 15px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-now-button {
    border: 0;
    background-color: #252525;
    color: white;
    border-radius: 20px;
    padding: 20px 50px 20px 50px;
    display: flex;
    align-items: center;
    margin-top: 30px;

    &:hover {
        opacity: 70%;
    }

    &:active {
        opacity: 50%;
    }
} 

.arrow-in-button {
    margin-left: 5px;
}